.markdown_textarea {
  min-width: 95.2%;
  min-height: 300px;
  max-height: auto;
  border-top: 1px solid black;
  width: 890px;
  /* background-color: red; */
}

@media only screen and (min-width: 630px) and (max-width: 991px) {
  .markdown_textarea {
    min-width: 93.6%;
    width: 445px;

  }
}

textarea {
  font-size: 1.125em;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: inherit;
  margin-top: -1px;
  background-color: hsl(0, 0%, 97.5%);
  border: 1px solid hsl(214, 13%, 90%);
  padding: calc(0.5 * (1em + 1ex));
  border-radius: 3px;
  display: flex;
}
