@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* .public-DraftStyleDefault-block {
  height: 100%;
  padding: 5px;
} */
.MuiTooltip-tooltip {
  font-size: 12pt !important;
}

.style-pullQuote {
  padding: 32px !important;
  border-left: none;
  border-right: none;
  text-align: center;
  font-size: 24px;
  margin: 28px 0 28px 0 !important;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  font-style: italic;
}

.rec-abbr {
  display: inline;
}

/*  
    'small',
    'medium',
    'mediumplus',
    'large',
    'xlarge',
    'xlargeplus',
    'xxlarge',
    'xxxlarge',
    'xxlargeplus',
    'super'
     */

.ql-size-medium {
  font-size: 0.875em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.ql-size-mediumplus {
  font-size: 0.938em;
}
.ql-size-large {
  font-size: 1.063em;
}
.ql-size-xlarge {
  font-size: 1.313em;
}
.ql-size-xlargeplus {
  font-size: 1.5em;
}
.ql-size-xxlarge {
  font-size: 2.333em;
}
.ql-size-xxxlarge {
  font-size: 2.667em;
}
.ql-size-xxlargeplus {
  font-size: 3em;
}
.ql-size-super {
  font-size: 3.5em;
}
