.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.LightGrayB{
  background-color: lightgray!important;
}

.FullWidth{
  min-width: 100%;
}

.headerCellStyle1.MuiColumnHeader_id {
  text-align: center;
}
.Padding25px {
  padding: 25px;
}

.Spacing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerStyle1 {
  /* background-color: rgb(67, 67, 221); */
  border-top: 3px solid rgb(67, 67, 221);
  border-bottom: 3px solid rgb(67, 67, 221);
}

.headerCellStyle1 {
  color: black;
  font-weight: 600;
  /* height: 70px; */
}
.bodyCellStyle1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
